/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
  
}

/* TOP NAVBAR */
.top {
  width: 100%;
  color: #4e46e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;
  border-radius: 20px;
  height: 10vh;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* DESKTOP MENU */
.menuDesktop {
  display: flex;
  gap: 12px;
}
 
/* MOBILE MENU (dropdown) */
.menuMobile {
  position: absolute;
  top: 100px;
  background-color: white;
  right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* BUTTON */
.button {
  padding: 10px 14px;
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}


/* LOGOUT */
.logout {
  background: #dc3545;
  color: white;
}


/* CONTENT */
.bottom {
  flex: 1;
  padding: 20px;
  margin-top: 20px;
  overflow-y: auto;
  border-radius: 20px;
  height: 90vh;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* 📱 MOBILE */
@media (max-width: 768px) {

  .menuDesktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .button {
    width: 100%;
    text-align: left;
  }
}