.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.form {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  width: 90%;
  height: 420px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.wrap{
  margin-top: 85px;
}
.inputGroup {
  margin-bottom: 15px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  text-transform: capitalize;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.form input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.3);
}

.form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background:  #3831c3;
}

.form a {
  display: block;
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  color:#3a8ee6;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}